[Desktop Entry]
Encoding=UTF-8
Name=Desktop Wallpaper
Icon=desktop_wallpaper
Comment=Set desktop background image and play slideshow
Exec=desktop-wallpaper
Terminal=false
Type=Application
Categories=DesktopSettings
GenericName=Desktop Wallpaper
NoDisplay=true
Comment[fi]=Vaihda työpöydän taustakuvaa
Name[bg]=Смени картината на Работния плот
Name[da]=Skrivebordsbaggrundsbillede
Name[de]=Hintergrundbild-Auswahl
Name[es]=Fondo de pantalla
Name[es]=Selector de Fondo de Pantalla
Name[fi]=Työpöydän taustakuvan vaihto
Name[hu]=Háttérkép beállító
Name[it]=Sfondo del desktop
Name[ja]=Wallpaper 背景画像の設定
Name[nl]=Bureaublad-achtergrond kiezer
Name[pl]=Wybór tapety
Name[pt_BR]=Papel de parede
Name[pt]=Padrão de fundo
Name[ru]=Установка фонового изображения
Name[zh_CN]=设置桌面背景
Name[de]=Tapete einstellen
Comment[de]=wählt Tapete Hintergrundbild aus
